body{
	margin: 0;
	padding: 0;
}
.top{
	height: 40px;
	width: 100%;
	background-color: #000;
}
.nav{
	color:#ddd;
	line-height: 40px;
	width: 840px;
	margin: 0 auto;
	font-weight: bold;
}
.nav a{
	text-decoration: none;
	color: #ddd;
}
.nav a:nth-child(1){
	margin-right: 20px;
}
.nav a.register{
	float: right;
}
.nav a:hover{
	color: #fff;
}